<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <nav>
        <button>
           <a href="/new" ><h1>+ New Entry</h1></a>
           
        </button>
        <div class="search">
            <img src="/images/search.svg" class="magnify">
            <input type="text" id="search">
        </div>
  
    </nav>
    <side-nav>
    
       <img src="/images/grid 1.svg" class="grid">
       <a href="/"><img src="/images/hand-holding-medical-active.svg" class="side-icons active-icon"></a>
       <a href="/"><img src="/images/note.svg" class="side-icons"></a>
       <a href="/"> <img src="/images/shopping-cart-add.svg" class="side-icons"></a>
        <a href="/"> <img src="/images/star.svg" class="side-icons"></a>
    </side-nav>